<div class="container">
  <div class="collection-container">
    <div class="collection-content-container">
      <div class="background-image">
        <img src="{{ section.settings.image_1 | img_url: 'master' }}" alt="{{ section.settings.image_1.alt | escape }}">
      </div>
      <div class="content">
        <h2>{{ section.settings.title_1 }}</h2>
        <p>{{ section.settings.subtitle_1 }}</p>
        <div class="buttons">
          {% for block in section.blocks %}
            {% if block.settings.button_1_text != blank and block.settings.button_1_url != blank %}
              <a href="{{ block.settings.button_1_url }}" class="{{ section.settings.button_style }}">{{ block.settings.button_1_text }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="collection-content-container">
      <div class="background-image">
        <img src="{{ section.settings.image_2 | img_url: 'master' }}" alt="{{ section.settings.image_2.alt | escape }}">
      </div>
      <div class="content">
        <h2>{{ section.settings.title_2 }}</h2>
        <p>{{ section.settings.subtitle_2 }}</p>
        <div class="buttons">
          {% for block in section.blocks %}
            {% if block.settings.button_2_text != blank and block.settings.button_2_url != blank %}
              <a href="{{ block.settings.button_2_url }}" class="{{ section.settings.button_style_2 }}">{{ block.settings.button_2_text }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>



{% schema %}
{
  "name": "FS Collections",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image 1",
      "info": "Upload background image for column 1."
    },
    {
      "type": "text",
      "id": "title_1",
      "label": "Title 1"
    },
    {
      "type": "text",
      "id": "subtitle_1",
      "label": "Subtitle 1"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image 2",
      "info": "Upload background image for column 2."
    },
    {
      "type": "text",
      "id": "title_2",
      "label": "Title 2"
    },
    {
      "type": "text",
      "id": "subtitle_2",
      "label": "Subtitle 2"
    },
    {
      "type": "radio",
      "id": "button_style",
      "label": "Button Style Left",
      "options": [
        {
          "value": "primary-button",
          "label": "Solid Button"
        },
        {
          "value": "secondary-button",
          "label": "Hollow Button"
        }
      ],
      "default": "primary-button"
    },
    {
      "type": "radio",
      "id": "button_style_2",
      "label": "Button Style Right",
      "options": [
        {
          "value": "primary-button",
          "label": "Solid Button"
        },
        {
          "value": "secondary-button",
          "label": "Hollow Button"
        }
      ],
      "default": "primary-button"
    }
  ],
    "blocks": [
      {
        "name": "Button Left",
        "type": "buttons_1",
        "limit": 4,
        "settings": [
          {
            "type": "text",
            "id": "button_1_text",
            "label": "Button 1 Text",
            "default": "TEXT"
          },
          {
            "type": "text",
            "id": "button_1_url",
            "label": "Button 1 URL",
            "default": "https://www.google.com"
          }
        ]
      },
      {
        "name": "Button Right",
        "type": "buttons_2",
        "limit": 4,
        "settings": [
          {
            "type": "text",
            "id": "button_2_text",
            "label": "Button 2 Text",
            "default": "TEXT"
          },
          {
            "type": "text",
            "id": "button_2_url",
            "label": "Button 2 URL",
            "default": "https://www.google.com"
          }
        ]
      }
    ],
  "presets": [
    {
      "name": "FS Collections",
      "category": "Fakestore"
    }
  ]
}
{% endschema %}
