{%- style -%}
.site-header {
  position: sticky;
  background-color: #ffffff;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.site-header-logo img {
  display: block;
  max-width: 200px;
  margin: 30px;
}

.header-logo-links {
  display: flex;
  flex-direction: row;
}

.header-search-cart {
  display: flex;
  flex-direction: row;
}

.nav-list {
  list-style: none;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item {
  margin-right: 20px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item a {
  color: #141414;
  text-decoration: none;
  font-weight: bold;
}

.hamburger-menu {
    display: none; 
  }

@media (max-width: 767px) {
  .nav-list {
    display: none; 
  }
  .header-logo-links {
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  }

  .header-search-cart .cart {
  display: block;
  }


  .hamburger-menu {
    display: block; 
    font-size: 24px;
    margin-right: 15px;
  }

  .site-header-logo img {
    max-width: 100px;
    margin: 10px;
  }
}
{%- endstyle -%}

<header class="site-header">
  <div class="hamburger-menu">&#9776;</div>
  
  <div class="header-logo-links">
    <div class="site-header-logo">
      <a href="{{ shop.url }}">
        <img src="{{ section.settings.logo | asset_url }}" alt="{{ section.settings.logo.alt | default: shop.name | escape }}">
      </a>
    </div>
    
    <ul class="nav-list">
      {% for link in linklists.main-menu.links %}
        <li class="nav-item">
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="header-search-cart">
    <div class="search">SEARCH BOX</div>
    <div class="divider">|</div>
    <div class="cart">CART</div>
  </div>


</header>

{% schema %}
{
  "name": "Fakestore Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Store Logo" 
    },
    {
      "type": "text",
      "id": "header_link_color",
      "label": "Header Link Color",
      "default": "#333333"
    }
  ],
  "presets": [
    {
      "name": "Fakestore Header",
      "category": "Fakestore"
    }
  ]
}
{% endschema %}
