<header class="header">
  {% comment %} Mobile Menu {% endcomment %}
  <div class="hamburger-menu">&#9776;</div>
  

  {% comment %} Desktop Menu {% endcomment %}
  <div class="header-logo-links">
    <div class="header-logo">
      <a href="{{ shop.url }}">
        <img src="{{ settings.logo | image_url }}" alt="{{ settings.logo.alt | escape }}">
      </a>
    </div>
    <ul class="nav-list">
      {% for link in linklists.main-menu.links %}
        <li class="nav-item">
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  
  <div class="header-cart">
    <div class="search-account">
      <div class="search">
        <input type="text" class="search-input" placeholder="Search...">
      </div>
      <div class="account">
        <a href="">My Account</a>  
        <a href="">Sign in or Sign up</a>  
      </div>
      <div class="divider">|</div>
    </div>
      <div class="cart">
        <a href="{{ shop.url }}">
          <img src="{{ section.settings.cart_icon | image_url }}">
        </a>
      </div>
  </div>
</header>


{% schema %}
  {
    "name": "FS Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "cart_icon",
        "label": "Cart Icon",
        "info": "Select the cart icon"
      },
      {
        "type": "text",
        "id": "header_link_color",
        "label": "Header Link Color",
        "default": "#333333"
      }
    ],
    "presets": [
      {
        "name": "FS Header",
        "category": "Fakestore"
      }
    ]
  }
  {% endschema %}
  